{% extends 'app1/base.html' %}

{% block content %}
<div class="col-md-12">
<table class="table">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NIP</th>
      <th scope="col">Firma</th>
      <th scope="col">Strona</th>
	  <th scope="col">Email</th>
	  <th scope="col">Keyword</th>
	  <th scope="col">Data</th>
	  <th scope="col">Status</th>
	  <th scope="col">Uwagi</th>
    </tr>

  <tbody>
    {% for firmy in Firmy %}
       <tr>

			<td>{{firmy.id}}</td>
            <td>{{firmy.NIP}} </td>
            <td>{{firmy.Firma}}</td>
            <td>{{firmy.Strona}}</td>
            <td>{{firmy.Email}}</td>
            <td>{{firmy.Keyword}}</td>
            <td>{{firmy.Data|date:"Y-m-d"}}</td>
            <td>{{firmy.Status}}</td>
            <td>{{firmy.Uwagi}}</td>
		</tr>


    {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}
