{% extends 'app1/base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card" style="width: 24rem;">
  <div class="card-body">
      <form method="get">
      <div class="form-group">
    {{ filter.form.as_p }}
          <button type="submit" class="btn btn-primary">Search</button>
          </div>
    </form>
  </div>
</div>
</div>

<div class="col-md-12">
<table class="table">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NIP</th>
      <th scope="col">Firma</th>
      <th scope="col">Strona</th>
	  <th scope="col">Email</th>
	  <th scope="col">Keyword</th>
	  <th scope="col">Data</th>
	  <th scope="col">Status</th>
	  <th scope="col">Uwagi</th>
    </tr>
  {% for user in filter.qs %}

  <tbody>
  <tr>
			<td>{{user.id}}</td>
            <td>{{user.NIP}} </td>
            <td>{{user.Firma}}</td>
            <td>{{user.Strona}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Keyword}}</td>
            <td>{{user.Data|date:"Y-m-d"}}</td>
            <td>{{user.Status}}</td>
            <td>{{user.Uwagi}}</td>
		</tr>
    {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}